img{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.photo{
    border:4px black solid;
    border-radius: 10px;
}

#photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:80px;

}

.photo-series{
    background-color: #A286BF;
    border:4px black solid;
    border-radius: 5px;
    margin: 10px;
    padding:10px;
}

.ps-flex{
    display: flex;
    flex-direction: column;
    float: left;
    width:220px;
}

.ps{
    width:440px;
}
